.key{
  background-color: rgb(61, 59, 59);   
  color: white;
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 28px;
  font-size: 17px;
}
.arithmatic{
  background-color: rgb(201, 141, 12);   
  color: white;
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 28px;
  font-size: 17px;
}
.js-calculation{
  height: 50px;
  width: 230px;
  border-width: 3px;
  border-color: black;
  font-size: 40px;
}